<div class="post-new-box">
    <% if text_post? %>
        <%= render partial: "form_text", locals: { title: "", body: "" } %>
    <% elsif image_post? %>
        <%= render partial: "form_image", locals: { title: "" } %>
    <% end %>
</div>