/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@font-face {
    font-family: "Righteous";
    src: url("Righteous-Regular.ttf") format("truetype");
}

body {
    background-image: url("https://res.cloudinary.com/dkanag99x/image/upload/v1655823493/projects/facebook/background-image.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Righteous";
    font-size: 24px;
    color: darkgreen;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

button, .button, input[type="submit"] {
    border: 3px solid black;
    background-color: rgb(248, 244, 14);
    font-family: "Righteous";
    display: block;
}

form input[type="text"], form input[type="email"], form input[type="password"], form textarea {
    border: 3px ridge darkgreen;
}

form textarea {
    width: 90%;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form textarea:focus {
    outline: 2px solid green;
}

form input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 3px ridge darkgreen;
    background-color: white;
    margin-top: 7px;
}
form input[type="checkbox"]:checked {
    background-color: yellow;
}

.navbar-shower {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(66,47,33);
    border-bottom: 10px ridge darkgreen;
    position: sticky;
    top: 0;
    margin-bottom: 5px;
    padding: 5px;
}

.notice {
    text-align: center;
}

.header .navbar-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.header .notifications {
    display: flex;
    align-items: center;
    gap: 5px;
}

ul {
    margin: 0;
}

.single-comment.owned {
    box-shadow: inset 15px 0px 0px -12px rgb(0, 160, 93);
}

.single-comment.reply {
    box-shadow: inset 15px 0px 0px -12px darkred;
}

a {
    color: darkolivegreen;
    text-decoration: none;
}

a:hover {
    color: green;
}

@media (max-width: 700px) {
    .header {
        display: none;
    }

    .navbar-shower {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: 20%;
        left: 0;
        width: 20px;
        height: 20%;
        font-size: 13px;
        background-color: rgb(66,47,33);
        border: 5px ridge darkgreen;
        border-left: none;
    }

    .header.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 15%;
        width: 50%;
        height: 50%;
        border: 10px ridge darkgreen;
        border-left: none;
    }

    .navbar-shower.moved {
        left: calc(50% + 20px);
    }

    .navbar-actions {
        flex-direction: column;
    }

    .notifications {
        flex-direction: column;
    }

    ul {
        padding-left: 10px;
    }

    textarea {
        width: 80%;
    }
}