.object-likers-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 200px);
    justify-content: center;
    grid-area: all-users;
    gap: 25px;
}

.object-likers-box [id^="single-user"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(44, 25, 16);
    border: 7px ridge darkgreen;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    height: 200px;
    padding: 10px;
    gap: 15px;
}

.object-likers-box [id^="single-user"] .identity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.object-likers-box [id^="single-user"] .followings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.object-likers-box [id^="single-user"] [id^="object-likers"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.object-likers-box [id^="single-user"] [id^="object-likers-friendship"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px
}