.all-notifications-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.all-notifications-box [id^="notification"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    /* background-color: rgb(66,47,33);
    border: 10px ridge darkgreen; */
}

.all-notifications-box #all-unread-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(66,47,33);
    border: 10px ridge darkgreen;
}

.all-notifications-box #all-read-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(66,47,33);
    border: 10px ridge darkgreen;
}

.all-notifications-box .read {
    background-color: aqua;
    opacity: 0.2;
}