.all-notifications-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.all-notifications-box [id^="notification"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.all-notifications-box .all-unread-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-notifications-box .all-unread-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-notifications-box .read {
    background-color: aqua;
    opacity: 0.2;
}