.post-new-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(44, 25, 16);
    border: 10px ridge darkgreen;
    width: 45%;
    align-self: center;
    /* margin: 0 auto; */
}

.post-new-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    padding: 15px;
}

.post-new-box form input[type="file"] {
    position: relative;
    margin: auto;
    width: 90px;
    text-align-last: center;
}

::-webkit-file-upload-button {
    border: 3px solid black;
    background-color: rgb(248, 244, 14);
    font-family: "Righteous";
    display: block;
}

.post-new-box [id^="errors"] {
    padding: 15px;
}

@media (max-width: 700px) {
    .post-new-box {
        margin-top: 15px;
        width: 90%;
    }
}