.post-show-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.post-show-box .single-post {
    width: 750px;
    background-color: rgb(66,47,33);
    border: 10px ridge darkgreen;
    padding: 5px;
}

.post-show-box #shown-post {
    display: flex;
    flex-direction: column;
}

.post-show-box [id^="post"] {
    display: flex;
    flex-direction: column;
}

.post-show-box .post-body {
    border: 5px outset green;
    width: 100%;
    box-sizing: border-box;
}

.post-show-box #shown-post .title {
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
    padding: 5px;
}

.post-show-box #shown-post .author {
    padding: 5px;
}

.post-show-box #shown-post .body {
    padding: 5px;
}

.post-show-box #shown-post .image {
    padding: 5px;
    align-self: center;
}

.post-show-box form input[type="file"] {
    margin-left: 165px;
}

.post-show-box [id^="likes_count_post"] {
    padding: 5px;
}

.post-show-box .post-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    padding-top: 0;
}

.post-show-box .like-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.post-show-box [id^="errors"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-show-box .add-comment {
    padding: 5px;
}

.post-show-box .commenter-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post-show-box [id^="comment"] {
    width: 100%;
}

.post-show-box .single-comment {
    border: 5px rgb(0, 60, 0);
    border-style: none solid solid none;
    margin: 1px 0px;
    padding: 5px;
}

.post-show-box .single-comment .comment {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.post-show-box [id^="likes_count_comment"] {
    width: 100%;
    font-size: 16px;
}

.post-show-box .misc-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.post-show-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 10px;
}