.profile-edit-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 25, 16);
    border: 7px ridge darkgreen;
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
}

.profile-edit-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.profile-edit-box form input[type="file"] {
    margin-left: 165px;
}

@media (max-width: 700px) {
    .profile-edit-box {
        margin-top: 15px;
        width: 90%;
    }
}