.sign-in-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: auto;
    gap: 50px;
}

.sign-in-box .invite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-box .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 25, 16);
    border: 10px ridge darkgreen;
    width: 350px;
    padding: 25px;
    gap: 15px;
}

.sign-in-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-box .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sign-in-box .field-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

@media (max-width: 1000px) {
    .sign-in-box {
        flex-direction: column-reverse;
        gap: 15px
    }

    .sign-in-box .login {
        width: 70%;
    }

    .sign-in-box .field {
        flex-direction: column;
    }

    img {
        width: 90%;
        height: auto;
    }
}