.sign-in-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: auto;
    gap: 50px;
}

.sign-in-box .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5CA362;
    border: 5px solid brown;
    width: 350px;
    padding: 25px;
    gap: 15px;
}

.sign-in-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-box .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sign-in-box .field-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}