.users-index-box {
    display: grid;
    grid-template: [row1-start] "all-users featured-users" auto [row1-end]
    [row2-start] "all-users suggested-users" auto [row2-end]
    / 5fr 2fr;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    gap: 15px;
}

.users-index-box .all-users {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 200px);
    justify-content: center;
    grid-area: all-users;
    gap: 35px;
}

.users-index-box [id^="single-user"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(66,47,33);
    border: 7px ridge darkgreen;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    height: 200px;
    padding: 10px;
    gap: 15px;
}

.users-index-box [id^="single-user"] .identity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.users-index-box [id^="single-user"] .followings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.users-index-box [id^="single-user"] [id^="index-user"], .users-index-box [id^="single-user"] [id^="featured-user"], .users-index-box [id^="single-user"] [id^="suggested-user"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-index-box [id^="single-user"] [id^="index-user-friendship"], .users-index-box [id^="single-user"] [id^="featured-user-friendship"], .users-index-box [id^="single-user"] [id^="suggested-user-friendship"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px
}

.users-index-box .users-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.users-index-box .featured-users {
    grid-area: featured-users;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.users-index-box .suggested-users {
    grid-area: suggested-users;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 15px;
}

.users-index-box .title {
    background-color: rgb(66,47,33);
    box-sizing: border-box;
    border: 10px ridge darkgreen;
    border-right: none;
    padding: 5px;
    width: 100%;
}