.sign-up-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: auto;
    gap: 15px;
}

.sign-up-box .invite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-box .registration form #error_explanation {
    font-size: 18px;
}

.sign-up-box .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(66,47,33);
    border: 10px ridge darkgreen;
    width: 400px;
    padding: 25px;
    gap: 15px;
}

.sign-up-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-up-box form input[type="submit"] {
    margin-top: 10px;
}

.sign-up-box .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 500px) {
    .sign-up-box {
        /* gap: 15px; */
    }

    .sign-up-box .registration {
        width: 70%;
    }

    .sign-up-box .field {
        flex-direction: column;
    }

}