.user-show-box .profile-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px;
}

.user-show-box .personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(66,47,33);
    border: 10px ridge darkgreen;
    height: fit-content;
    padding-bottom: 5px;
}

.user-show-box .edit-profile {
    padding: 5px;
}

.user-show-box .timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 15px;
}

.user-show-box .followings {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.user-show-box #user-posts {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-show-box #user-posts::-webkit-scrollbar {
    display: none;
}

.user-show-box .user-single-post, .user-show-box .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px ridge darkgreen;
    background-color: rgb(66,47,33);
    width: 700px;
}
.user-show-box .message {
    padding: 5px;
}

.user-show-box .user-single-post .title {
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.user-show-box .user-single-post .body {
    padding: 5px;
}

.user-show-box .user-single-post .image {
    padding: 5px;
    align-self: center;
}

.user-show-box .user-single-post [id^="likes_count_post"] {
    padding: 5px;
}

.user-show-box .user-single-post .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.user-show-box .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.user-show-box .blocked {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.user-show-box .bio .subtitle, .user-show-box .name {
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
    text-align: center;
    width: 100%;
}

.user-show-box .avatar {
    padding-top: 5px;
}

.user-show-box .bio .content {
    padding: 5px;
}

.user-show-box .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.user-show-box [id^="user-page-friendship"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}