.users-index-box {
    display: grid;
    grid-template: [row1-start] "tribe-users featured-users" 50% [row1-end]
    [row2-start] "tribe-users suggested-users" 50% [row2-end]
    / 5fr 2fr;
    justify-content: center;
    height: 94vh;
    column-gap: 25px;
}

.users-index-box .tribe-users {
    grid-area: tribe-users;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.users-index-box .all-users {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 200px);
    align-items: start;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.users-index-box .all-users::-webkit-scrollbar {
    display: none;
}

.users-index-box [id^="single-user"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(66,47,33);
    border: 7px ridge darkgreen;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    padding: 10px;
    gap: 15px;
}

.users-index-box [id^="single-user"] .identity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.users-index-box [id^="single-user"] .followings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.users-index-box [id^="single-user"] [id^="index-user"], .users-index-box [id^="single-user"] [id^="featured-user"], .users-index-box [id^="single-user"] [id^="suggested-user"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-index-box [id^="single-user"] [id^="index-user-friendship"], .users-index-box [id^="single-user"] [id^="featured-user-friendship"], .users-index-box [id^="single-user"] [id^="suggested-user-friendship"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px
}

.users-index-box .users-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.users-index-box .users-block::-webkit-scrollbar {
    display: none;
}

.users-index-box .featured-users {
    grid-area: featured-users;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.users-index-box .suggested-users {
    grid-area: suggested-users;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.users-index-box .title {
    background-color: rgb(66,47,33);
    box-sizing: border-box;
    border: 10px ridge darkgreen;
    border-right: none;
    padding: 5px;
    width: 100%;
}

.users-index-box .title-center {
    background-color: rgb(66,47,33);
    box-sizing: border-box;
    border: 10px ridge darkgreen;
    text-align: center;
    padding: 5px;
    width: 50%;
}

.users-index-box .recommended-ribbon {
    display: none;
}

@media (max-width: 700px) {
    .users-index-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .users-index-box .tribe-users {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .users-index-box .all-users {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .users-index-box .title-center, .users-index-box .featured-users .title {
        border: none;
        border-bottom: 10px ridge darkgreen;
        width: 100%;
        text-align: center;
    }

    .users-index-box .suggested-users .title, .users-index-box .featured-users .title {
        border-left: none;
    }
    
    .users-index-box .featured-users .users-block, .users-index-box .suggested-users .users-block {
        height: 40vh;
    }

    .users-index-box .recommended-ribbon, .users-index-box .back-ribbon {
        align-self: flex-start;
        display: block;
        position: absolute;
        text-align: center;
        background-color: rgb(66,47,33);
        border: 5px ridge darkgreen;
        border-top: none;
        padding: 5px;
        font-size: 13px;
        transition: 1.5s;
    }

    .users-index-box .recommended-ribbon {
        top: 0;
        left: 0;
        border-left: none;
    }

    .users-index-box .back-ribbon {
        top: 0;
        right: 0;
        border-right: none;
    }

    .users-index-box .dormant {
        display: none;
    }

}